#sidebarLeft {
  background-color: #ffffff;
  position: fixed;
  height: 100vh;
  width: 200px;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#sidebarLeftTop {
  height: 150px;
}

#sidebarLeftProfilePictureIcon {
  cursor: pointer;
}

#sidebarLeftBottomTable {
  width: 100px;
  text-align: center;
  margin: auto;
}

.sidebarItemName {
  cursor: pointer;
}

#sidebarLeftBottomTable tr:hover {
  color: #8737FF;
  transition: color fadeIn .2s;
}